@import url('https://fonts.googleapis.com/css2?family=Baloo+2&family=Cookie&family=Great+Vibes&family=Martel+Sans:wght@600&family=Poppins:wght@700&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;



}

body {
    background-color: black;
}

.main {
    background-image: url(NetlixBg.jpg);
    height: 80vh;
    position: relative;
    background-size: max(1200px, 100vw);
    background-position: center center;
    background-repeat: no-repeat;

}

.main .box {
    height: 80vh;
    width: 100%;
    opacity: 0.65;
    position: absolute;
    top: 0;
    background-color: black;
}

nav {
    max-width: 60vw;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 62px;
}

nav img {
    color: red;
    width: 136px;
    position: relative;
    z-index: 10;
}

nav button {
    position: relative;
    z-index: 10;

}

.hero {
    height: 89.5%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    position: relative;
    font-family: 'Martel Sans', sans-serif;

    padding: 0 10px;
    gap: 26px;



}

.hero> :first-child {
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
    font-size: 40px;
}

.hero> :nth-child(2) {
    font-weight: 400;
    font-size: 24px;

}

.hero> :nth-child(3) {
    font-weight: 400;
    font-size: 20px;

}

.separation {
    height: 7px;
    background-color: rgb(37, 37, 37);
    position: relative;
    z-index: 20;
}

.btn {
    padding: 6px 21px;
    font-weight: 400;
    color: white;
    background-color: rgba(248, 243, 243, 0.021);
    border: 1px solid white;
    border-radius: 4px;
    cursor: pointer;
}

.btn-red {
    background-color: red;
    color: white;
    padding: 13px 24px;
    font-size: 24px;
    border-radius: 4px;
    font-weight: 400;


}

.hero-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.main input {

    padding: 18px 174px 15px 26px;
    font-size: 16px;
    border-radius: 4px;
    color: white;
    background-color: rgba(23, 23, 23, 0.2);
    border: 1px solid rgba(246, 238, 238, 0.5);
    font-weight: 400;

}

.btn-red-sm {
    background-color: red;
    color: white;

}

.first {
    display: flex;
    justify-content: center;
    max-width: 73vw;
    margin: auto;
    color: white;
    align-items: center;
}
@media screen and (maxwidth: 1300px) {
    .first {
        flex-wrap: wrap;
    }
    
}

.secImg {
    position: relative;

}

.secImg img {
    width: 36vw;
    position: relative;
    z-index: 10;
}

.secImg video {
    position: absolute;
    top: 51px;
    right: 0;
}

section.first>div {
    display: flex;
    flex-direction: column;
}

section.first>div :nth-child(1) {
    font-size: 48px;
    font-weight: bolder;
}

section.first>div :nth-child(2) {
    font-size: 24px;

}

.third {
    display: flex;
    justify-content: center;
    max-width: 80vw;
    margin: auto;
    color: white;
    align-items: center;
    overflow: hidden;

}

.secImage img {
    width: 36vw;
    position: relative;
    z-index: 10;

}




.secImage video {
    overflow: hidden;
    right: 17vw;
    position: absolute;
    top: 95vw;

}

section.third>div {
    display: flex;
    flex-direction: column;
}

section.third>div :nth-child(1) {
    font-size: 48px;
    font-weight: bolder;
}

section.third>div :nth-child(2) {
    font-size: 24px;
}

.faq h2 {
    text-align: center;
    font-size: 48px;
}

.faq {
    background-color: black;
    color: white;
    padding: 34px;
}

.faqbox:hover {
    background-color: #414141;
}

.faqbox svg {
    filter: invert(1);
}

.faqbox {
    color: white;
    transition: all 1s ease-out;
    display: flex;
    justify-content: space-between;
    background-color: #2d2d2d;
    padding: 24px;
    max-width: 60vw;
    color: aliceblue;
    margin: 34px auto;
    cursor: pointer;
    font-size: 24px;
}

footer {
    color: white;
    max-width: 60vw;
    margin: auto;
    padding: 14px;
}
footer .questions {
    padding: 34px 0;

}

.footer a {
    font-size: 14px;
    color: white;

}

.footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    color: white;
}

.footer-item {
    display: flex;
    flex-direction: column;
    gap: 23px;
   
}